DATABASE_URL=mssql://USERNAME:PASSWORD@HOST:PORT/DB_NAME?driver=ODBC Driver 17 for SQL Server&timeout=30&conn_max_age=30
DJANGO_SETTINGS_MODULE=djangoreactapi.settings
DATABASE_CONNECTION_POOLING=true
CORS_ORIGIN_WHITELIST=http://localhost:3000
