# 모든 설정값을 확인해주세요.
DATABASE_URL=FIXME
ALLOWED_HOSTS=isp-demo-api.pnu.askcompany.kr
MEDIA_URL="http://isp-demo-api.pnu.askcompany.kr/media/"
CORS_ORIGIN_WHITELIST="http://isp-demo.pnu.askcompany.kr"
DEFAULT_FILE_STORAGE=storages.backends.sftpstorage.SFTPStorage
SFTP_STORAGE_ROOT=/var/www/media/
SFTP_STORAGE_HOST=isp-demo-api.pnu.askcompany.kr
SFTP_STORAGE_USERNAME=django
SFTP_STORAGE_PKEY_ONELINE="FIXME"
